h1 {
    color:forestgreen;
    width: 120;
    text-align: center;
}

a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    text-align: left;
}

img {
    align-items: center;
    border-radius: 0rem;

}

li {
    align-items: center;
}